extends layout 

block content
  header
    .header-content
      .header-content-inner
        h1#homeHeading HGSA College PATHS
        hr
      .container
        .row
          .col-lg-6.col-md-6.col-sm-12
            img.img-responsive.center-block(src='images/groupPicture.JPG')
          .col-md-6.col-md-6.col-sm-12
            p #{__('MissionStatement.first')} 
            p #{__('MissionStatement.second')}        
        br
        br  
        .row
          a.btn.btn-default.btn-xl.page-scroll(href='#about') #{__('Find Out More')} 
      
  section#about
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading #{__('The College PATHS Program')}
          hr
    .container
      .row
        .col-lg-3.col-md-6.text-center
          .service-box
            i.fa.fa-4x.fa-users.sr-icons.text-primary
            h3 #{__('Mentors.header')}
            p #{__('Mentors.summary')}
        .col-lg-3.col-md-6.text-center
          .service-box
            i.fa.fa-4x.fa-mortar-board.sr-icons.text-primary
            h3 #{__('College Access Workshops')}
            ul.text-left
              li 
                p #{__('A-G Requirements')} 
              li 
                p #{__('College Admissions')}
              li
                p #{__('Personal Statements')} 
              li 
                p #{__('Financial Aid & Scholarship Resources')}
        .col-lg-3.col-md-6.text-center
          .service-box
            i.fa.fa-4x.fa-handshake-o.sr-icons.text-primary
            h3 #{__('EducationalPanels.header')} 
            p #{__('EducationalPanels.summary')}
        .col-lg-3.col-md-6.text-center
          .service-box
            i.fa.fa-4x.fa-balance-scale.sr-icons.text-primary
            h3 #{__('Social Justice Seminars')}
            p #{__('Seminars.summary')}

  section#alumni.bg-primary
    h2.text-center #{__('Previous Student Experiences')}
    hr.light
    .row
      .col-md-offset-2.col-md-8
        #quote-carousel.carousel.slide(data-ride='carousel')
          // Bottom Carousel Indicators
          ol.carousel-indicators
            li.active(data-target='#quote-carousel', data-slide-to='0')
            li(data-target='#quote-carousel', data-slide-to='1')
          //  li(data-target='#quote-carousel', data-slide-to='2')
          // Carousel Slides / Quotes
          .carousel-inner
            // Quote 1
            .item.active
              blockquote
                .row
                  .col-sm-3.text-center
                    .circle-container(style='width: 100px;height:100px;')
                      .circle-avatar(style='background-image:url(images/Melissa-Barales-Lopez.JPG);')
                    // <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">
                  .col-sm-9
                    p
                      | HGSA College Paths is undoubtedly an invaluable program. This program was my initial introduction to four-year universities, financial aid, and personal statements. 
                      | HGSA College Paths, with it's informational college admission sessions and personal mentorship, unlocked my dream of wanting to attend college without having to worry 
                      | about financial matters and ever since then my mentors have assisted me in fulfilling my aspiration.
                    small Melissa Barales-Lopez
          
            // Quote 2
            .item
              blockquote
                .row
                  .col-sm-3.text-center
                    .circle-container(style='width: 100px;height:100px;')
                      .circle-avatar(style='background-image:url(images/AlexisCruz.jpg);')
                  .col-sm-9
                    p
                      | This program encouraged me to be open to sharing my personal stories and experiences. Thanks to this program I received the guidance and support necessary to compose an 
                      | award winning scholarship essay for both the Warren Christopher scholarship ($20,000) and the Ford Driving Dreams scholarship. The guest speakers and mentors inspired me
                      | to take pride in my roots and use writing as a platform to showcase my individuality.
                    small Alexis Cruz
            // Quote 3
            //-.item
              blockquote
                .row
                  .col-sm-3.text-center
                    img.img-circle(src='https://s3.amazonaws.com/uifaces/faces/twitter/keizgoesboom/128.jpg', style='width: 100px;height:100px;')
                  .col-sm-9
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.
                    small Someone famous
          // Carousel Buttons Next/Prev
          a.left.carousel-control(data-slide='prev', href='#quote-carousel')
            i.fa.fa-chevron-left
          a.right.carousel-control(data-slide='next', href='#quote-carousel')
            i.fa.fa-chevron-right

  section#donate.bg-dark
    .container.text-center
      .call-to-action
        h2 #{__('Crowd Funding')}
        a.btn.btn-default.btn-xl.sr-button(href='https://www.gofundme.com/college-paths') #{__('Donate on our GoFundMe to help!')}

  section#contact
    .container
      .row
        .col-lg-8.col-lg-offset-2.text-center
          h2.section-heading #{__('Contact.header')}
          hr.primary
          p
            | #{__('Contact.summary')}
        .col-lg-4.text-center
          a(href='/files/2016-2017 HGSA College PATHS Application.pdf' danger)
            i.fa.fa-download.fa-3x.sr-contact
            p #{__('Application.instruction')}
        .col-lg-4.text-center
          i.fa.fa-envelope-o.fa-3x.sr-contact
          p
            a(href='mailto:hgsacollegepaths@gmail.com') hgsacollegepaths@gmail.com
        .col-lg-4.text-center
          i.fa.fa-newspaper-o.fa-3x.sr-contact
          p
            | #{__('Read our article on')} #[a(href='http://www.humanityinaction.org/knowledgebase/613-cap-ucla') Humanity in Action]

block script
  script.
    $(document).ready(function() {
      //Set the carousel options
      $('#quote-carousel').carousel({
        interval: 9000,
      });
      // pause when indicators are clicked
      $('.carousel-indicators li, .carousel-control')
        .click(function(){
          $('#quote-carousel').carousel('pause');
        });
    }); 