extends layout 

block content
    header#teamHeader
        .header-content
            .header-content-inner
                h1#homeHeading #{__('Team.Header')}
    section#team
        .container
            .row
                .col-lg-12.text-center
                    h3.section-heading #{__('Team.Summary')}
                    hr
        #table.container 
            .row
                .col-md-offset-1.col-md-5
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.JavierMunoz.Title')}
                        .panel-body #{__('Team.JavierMunoz.Bio')}
            
                .col-md-5
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.GabrielaGonzalez.Title')}
                        .panel-body #{__('Team.GabrielaGonzalez.Bio')}
            .row
                .col-md-offset-1.col-md-5
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.VanessaCalderon.Title')}
                        .panel-body #{__('Team.VanessaCalderon.Bio')}
                .col-md-5
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.AraceliCentanino.Title')}
                        .panel-body #{__('Team.AraceliCentanino.Bio')}                     
            .row
                .col-md-offset-1.col-md-5
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.JoshuaRodriguez.Title')}
                        .panel-body #{__('Team.JoshuaRodriguez.Bio')}
        
                .col-md-5
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.MagaliCampos.Title')}
                        .panel-body #{__('Team.MagaliCampos.Bio')}
            .row
                .col-md-offset-1.col-md-5
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.AldoMacias.Title')}
                        .panel-body #{__('Team.AldoMacias.Bio')}
            
                .col-md-5
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.FernandoLopez.Title')}
                        .panel-body #{__('Team.FernandoLopez.Bio')}                  
            .row 
                .col-md-offset-1.col-md-5
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.JustinJordan.Title')}
                        .panel-body #{__('Team.JustinJordan.Bio')}
                .col-md-5
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.ViridianaChabolla.Title')}
                        .panel-body #{__('Team.ViridianaChabolla.Bio')}
block script
    script.
        $(document).ready(function() {
            matchPanelHeight();
        });

        $(window).on('resize', function() {
            removeHeights();
            matchPanelHeight();
        });

        function matchPanelHeight() {
            console.log("in here");
            var rows = $('#table .row');
            rows.each(function(i){
                utils.matchHeights($(this), '.panel-heading', true);
                utils.matchHeights($(this), '.panel-body', true);
            });
        }

        function removeHeights(){
            $("#table .row").each(function() {
                $(this).find(".panel-heading").height("auto");
                $(this).find(".panel-body").height("auto");
            });
        }