extends layout 

block content
    header#teamHeader
        .header-content
            .header-content-inner
                h1#homeHeading #{__('Team.Header')}
    section#team
        .container
            .row
                .col-lg-12.text-center
                    h3.section-heading #{__('Team.Summary')}
                    hr
        #table.container 
            .row
                .col-md-offset-2.col-md-8
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.JavierMunoz.Title')}
                        .panel-body
                            .row
                                .col-md-3.vertical-center
                                    .circle-container(style='max-width: 110px;max-height:110px;')
                                        .circle-avatar(style='background-image:url(images/TeamPhotos/javiermunoz.png);') 
                                .col-md-9 #{__('Team.JavierMunoz.Bio')}
            .row
                .col-md-offset-2.col-md-8
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.VanessaCalderon.Title')}
                        .panel-body
                            .row.show-grid
                                .col-md-3.vertical-center
                                    .circle-container(style='max-width: 110px;max-height:110px;')
                                        .circle-avatar(style='background-image:url(images/TeamPhotos/vanessacalderon.png);') 
                                .col-md-9 #{__('Team.VanessaCalderon.Bio')}
            .row
                .col-md-offset-2.col-md-8
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.GabrielaGonzalez.Title')}
                        .panel-body
                            .row.show-grid
                                .col-md-3.vertical-center
                                    .circle-container(style='max-width: 110px;max-height:110px;')
                                        .circle-avatar(style='background-image:url(images/TeamPhotos/gabrielagonzalez.png);') 
                                .col-md-9 #{__('Team.GabrielaGonzalez.Bio')}
            .row
                .col-md-offset-2.col-md-8
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.JaimeCastaneda.Title')}
                        .panel-body
                            .row.show-grid
                                .col-md-3.vertical-center
                                    .circle-container(style='max-width: 110px;max-height:110px;')
                                        .circle-avatar(style='background-image:url(images/TeamPhotos/jaimecastenada.png);') 
                                .col-md-9 #{__('Team.JaimeCastaneda.Bio')}
            .row
                .col-md-offset-2.col-md-8
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.CarolinaUgalde.Title')}
                        .panel-body
                            .row.show-grid
                                .col-md-3.vertical-center
                                    .circle-container(style='max-width: 110px;max-height:110px;')
                                        .circle-avatar(style='background-image:url(images/TeamPhotos/carolinaugalde.png);') 
                                .col-md-9 #{__('Team.CarolinaUgalde.Bio')}
            .row
                .col-md-offset-2.col-md-8
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.JustinJordan.Title')}
                        .panel-body
                            .row.show-grid
                                .col-md-3.vertical-center
                                    .circle-container(style='max-width: 110px;max-height:110px;')
                                        .circle-avatar(style='background-image:url(images/TeamPhotos/justinjordan.jpg);') 
                                .col-md-9 #{__('Team.JustinJordan.Bio')}
            .row
                .col-md-offset-2.col-md-8
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.AraceliCentanino.Title')}
                        .panel-body
                            .row.show-grid
                                .col-md-3.vertical-center
                                    .circle-container(style='max-width: 110px;max-height:110px;')
                                        .circle-avatar(style='background-image:url(images/TeamPhotos/Aracelicentanino.png);') 
                                .col-md-9 #{__('Team.AraceliCentanino.Bio')}                     
            .row
                .col-md-offset-2.col-md-8
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.FernandoLopez.Title')}
                        .panel-body
                            .row.show-grid
                                .col-md-3.vertical-center
                                    .circle-container(style='max-width: 110px;max-height:110px;')
                                        .circle-avatar(style='background-image:url(images/TeamPhotos/fernandolopez.png);') 
                                .col-md-9 #{__('Team.FernandoLopez.Bio')}
            .row
                .col-md-offset-2.col-md-8
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.PatriciaGonzalez.Title')}
                        .panel-body
                            .row.show-grid
                                .col-md-3.vertical-center
                                    .circle-container(style='max-width: 110px;max-height:110px;')
                                        .circle-avatar(style='background-image:url(images/TeamPhotos/patriciag.png);') 
                                .col-md-9 #{__('Team.PatriciaGonzalez.Bio')}
            .row
                .col-md-offset-2.col-md-8
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.SergioValenzuela.Title')}
                        .panel-body
                            .row.show-grid
                                .col-md-3.vertical-center
                                    .circle-container(style='max-width: 110px;max-height:110px;')
                                        .circle-avatar(style='background-image:url(images/TeamPhotos/sergiovalenzuela.png);') 
                                .col-md-9 #{__('Team.SergioValenzuela.Bio')}
            .row
                .col-md-offset-2.col-md-8
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.JoseAlvarez.Title')}
                        .panel-body
                            .row.show-grid
                                .col-md-3.vertical-center
                                    .circle-container(style='max-width: 110px;max-height:110px;')
                                        .circle-avatar(style='background-image:url(images/TeamPhotos/josealvarez.png);') 
                                .col-md-9 #{__('Team.JoseAlvarez.Bio')}
            .row
                .col-md-offset-2.col-md-8
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.RudyTorres.Title')}
                        .panel-body
                            .row.show-grid
                                .col-md-3.vertical-center
                                    .circle-container(style='max-width: 110px;max-height:110px;')
                                        .circle-avatar(style='background-image:url(images/TeamPhotos/rudytorres.png);') 
                                .col-md-9 #{__('Team.RudyTorres.Bio')}
            
            .row
                .col-md-offset-2.col-md-8
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.MelinaMelgoza.Title')}
                        .panel-body
                            .row.show-grid
                                .col-md-3.vertical-center
                                    .circle-container(style='max-width: 110px;max-height:110px;')
                                        .circle-avatar(style='background-image:url(images/TeamPhotos/melinamelgoza.png);') 
                                .col-md-9 #{__('Team.MelinaMelgoza.Bio')}
            .row
                .col-md-offset-2.col-md-8
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.JoshuaRodriguez.Title')}
                        .panel-body
                            .row.show-grid
                                .col-md-3.vertical-center
                                    .circle-container(style='max-width: 110px;max-height:110px;')
                                        .circle-avatar(style='background-image:url(images/TeamPhotos/joshuarodriguez.jpg);') 
                                .col-md-9 #{__('Team.JoshuaRodriguez.Bio')}
            .row
                .col-md-offset-2.col-md-8
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.MagaliCampos.Title')}
                        .panel-body
                            .row.show-grid
                                .col-md-3.vertical-center
                                    .circle-container(style='max-width: 110px;max-height:110px;')
                                        .circle-avatar(style='background-image:url(images/TeamPhotos/magalicampos.png);') 
                                .col-md-9 #{__('Team.MagaliCampos.Bio')}
            //.row
                .col-md-offset-2.col-md-8
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.AldoMacias.Title')}
                        .panel-body
                            .row.show-grid
                                .col-md-3.vertical-center
                                    .circle-container(style='max-width: 110px;max-height:110px;')
                                        .circle-avatar(style='background-image:url(images/TeamPhotos/gabrielagonzalez.png);') 
                                .col-md-9 #{__('Team.AldoMacias.Bio')}
                .col-md-5
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title #{__('Team.ViridianaChabolla.Title')}
                        .panel-body #{__('Team.ViridianaChabolla.Bio')}
block script
    script.
        $(document).ready(function() {
            matchPanelHeight();
        });

        $(window).on('resize', function() {
            removeHeights();
            matchPanelHeight();
        });

        function matchPanelHeight() {
            console.log("in here");
            var rows = $('#table .row');
            rows.each(function(i){
                utils.matchHeights($(this), '.panel-heading', true);
                utils.matchHeights($(this), '.panel-body', true);
            });
        }

        function removeHeights(){
            $("#table .row").each(function() {
                $(this).find(".panel-heading").height("auto");
                $(this).find(".panel-body").height("auto");
            });
        }